{% set cars = [
  {
  'img': './assets/img/car-park/car_01.png',
  'title': 'Маленький фургон',
  'description':'160 х 120 х 120 см макс. 400 кг до 2 поддонов'
  },
  {
  'img': './assets/img/car-park/car_02.png',
  'title': 'Фургон среднего размера',
  'description':'320 х 130 х 160 см макс. 800 кг до 4 поддонов'
  },
  {
  'img': './assets/img/car-park/car_03.png',
  'title': 'Большой фургон',
  'description':'420 х 210 х 210 см макс. 1200 кг до 8 поддонов'
  },
  {
  'img': './assets/img/car-park/car_04.png',
  'title': 'Подъемная рампа',
  'description':'420 х 210 х 210 см макс. 800 кг до 8 поддонов'
  }
] %}