<section class="services">
  <h2 class="visually-hidden">Список онлайн серивисов расписания поездов</h2>
  <div class="services__container container">
    <ul class="services__list">
      <li class="services__item">
        <div class="card-services">
          <img class="card-services__img" src="./assets/img/item_01.jpg" alt="" width="269" height="158">
          <div class="card-services__content" style="background-image: url(/assets/img/5rate.svg);">
            <img src="./assets/img/yandex.svg" alt="yandex logo">
            <h3 class="card-services__title">Яндекс<span>. Расписание</span></h3>
            <p class="card-services__description">Сервис предоставляющий возможность узнать расписание автобусов,
              электричек, поездов, самолётов, теплоходов и паромов.</p>
            <a href="#" class="card-serivces__link">rasp.yandex.ru</a>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <img class="card-services__img" src="./assets/img/item_02.jpg" alt="" width="269" height="158">
          <div class="card-services__content" style="background-image: url(/assets/img/5rate.svg);">
            <img src=" ./assets/img/tutu.svg" alt="yandex logo">
            <h3 class="card-services__title">Яндекс. Расписание</h3>
            <p class="card-services__description">Сервис предоставляющий возможность узнать расписание автобусов,
              электричек, поездов, самолётов, теплоходов и паромов.</p>
            <a href="#" class="card-serivces__link">rasp.yandex.ru</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>