{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

  {{ head('index', 'Мой курьер') }}

  <body class="p-main">
    <main></main>
    {{ scripts('index') }}
  </body>

</html>