{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

  {{ head('index', 'Расписание поездов') }}

  <body>
    {% include 'components/header/header.njk' %}
    <main>
      {% include 'components/hero/hero.njk' %}
      {% include 'components/advantages/advantages.njk' %}
      {% include 'components/services/services.njk' %}
    </main>
    {{ scripts('index') }}
    {% include 'components/footer/footer.njk' %}
  </body>
</html>