<section class="hero">
    <div class="hero__container container">
        <h1>Онлайн-сервисы <br> расписания поездов</h1>
        <p>Рейтинг ресурсов для поиска Ж/Д рейсов</p>
        <img class="hero__img" src="./assets/img/hero.png" alt="Красный поезд">
    </div>
</section>
