{% set advantages = [
  {
    'img': './assets/img/icon_01.svg',
    'title': 'Надежные сервисы'
  },
  {
   'img': './assets/img/icon_02.svg',
   'title': 'Актуальная информация'
  },
  {
   'img': './assets/img/icon_03.svg',
   'title': 'Все вокзалы России'
  }
] %}