.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 700;
  font-size: 8px;
  line-height: 6px;
  @include media(S) {
    font-size: 15px;
    line-height: 13px;
  }
  span {
    font-size: 7px;
    line-height: 5px;
    @include media(S) {
      font-size: 14px;
      line-height: 12px;
    }
  }
  img {
    width: 24px;
    margin-right: 4px;
    @include media(S) {
      margin-right: 7px;
      width: 46px;
    }
  }
}
