// responsive

$S: 500px;
$M: 768px;
$L: 992px;
$XL: 1200px;

// palette
$color-white: #fff;
$color-black: #334148;
$color-dark: #253a55;
$color-gray: #f2f7fb;
$color-orange: #ff2805;
$color-blue: #04a2d0;

//Colors
$color-text-primary: $color-black;
$color-text-secondary: $color-white;
$color-text-thirdly: $color-dark;
$color-link: $color-blue;
$color-hover: $color-orange;

//backgrounds
$bg-primary: $color-gray;
$bg-secondary: $color-orange;
$bg-light: $color-white;

//gradiens
$gradient-primary: linear-gradient(
  90.2deg,
  rgba(255, 255, 255, 0.38) 13.09%,
  rgba(255, 255, 255, 0.27) 114.59%
);

// fonts
$font-family-base: "Onest", "Helvetica", "Arial", sans-serif;
$font-weight-regular: 400;
