// Responsive

$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1200px;

// Colors

$color-bg: #f9fdff;
$color-black: #161b23;
$color-dark-grey: #424950;
$color-dark-blue: #012b69;
$color-orange:#ff6b00;
$color-primary-blue:#065fe5;
$color-secondary:#008eff;

// Fonts

$font-family-base: "Onest", "Helvetica", "Arial", sans-serif;
$font-weight-regular: 400;
