<footer class="footer">
  <div class="footer__container container">
    {% include 'components/logo/logo.njk' %}
    <div class="footer__copyright">
      <p>Контактный e-mail support@konfzz.ru<br>
        Контактный телефон: +7 495 921-34-44 ООО "А+" ИНН 7325109660, , КПП 732501001<br>
        Ульяновская обл., г. Ульяновск, ул. Карла Либкнехта, д. 24/5А стр. 1 офис 65</p>
    </div>
  </div>
</footer>